body
{

    background-color: white;
}
.navbar{
        text-align: center;
    }
.p1{
    font-size: 70px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.size
{
    font-size: large;
    font-style: italic;
}
